node_modules/
lol version 0.6 (no bug) (test extreme bomb).js
main.js
lol version 0.5 (no bug) (miss bomb).js
lol version 0.4 (no bug) (miss 3 types).js
lol version 0.3 (no bug) (miss 4 types).js
lol version 0.2 (no bug) (miss 7 types).js
lol version 0.1.js
identifyGoals future mod(shapez.io).js
test.js
lol version 0.7 (no bug) (new verif for no card to draw).js
